<table border = "1">
  <% @notes.each do |note| %>
    <tr>
      <td width = 150px><%= note[:title] %></td>
      <td width = 150px><%= note[:opinion] %></td>
      <td width = 60px><%= note[:rating] %></td>
    </tr>
  <% end %> 
</table>

<br>
<%= link_to 'Add New', new_path %>
<br>
<br>
<%= link_to 'Edit', edit_path %>
