<table border = "1">
  <% @notes.each do |note| %>
    <tr>
      <td width = 150px><%= note[:title] %></td>
      <td width = 150px><%= note[:opinion] %></td>
      <td width = 60px><%= note[:rating] %></td>
      <td width = 40px><%= link_to 'Edit', '/' %></td>
      <td width = 40px><%= link_to 'Del', "/#{note[:id]}",
              method: :delete,
              data: { confirm: 'Seriously?!'} %></td>
    </tr>
  <% end %> 
</table>

<br>
<%= link_to 'Add New', new_path %>
<br>
